.avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    &--symbol {
        text-align: center;
        color: #fff;
        font-weight: 600;
        line-height: 40px;
        font-size: 18px;
    }
}